/* Standaard */

div.wrapper {
    width: 500px;
    min-height: 5px;
    padding-bottom: 5px;
    overflow: hidden;
	margin:auto;
	padding-top:20px;
}

p.error {
    width: 500px;
    
    text-align: center;
    line-height: 15px;
    
    margin: 0px;
    padding: 0px;
    display: block;
    float: left;
    
    background-color: #EEDDDD;
}
/* Formulier elementen */


/* Etalage */
div.artikel_e {
    width: 130px;
    height: 180px;
    
    float: left;
    margin-left: 1px;
    padding-left: 10px;
    padding-right: 10px;
    
    border: 1px solid #808080;
    background-color: #F2F2F2;
}


/* Etalage */
div.artikel_p {
    width: 400px;
    height: 157px;
    
    float: left;
    margin-left: 1px;
    padding: 10px;
    
    border: 1px solid #808080;
    background-color: #F2F2F2;
}
div.info {
    width: 250px;
    height: 130px;
    
    margin: 0px;
    padding: 0px;
    float: right;
    
    border: 1px solid #808080;
}
input.aantal_p {
    width: 40px;
    height: 20px;
    
    border: none;
    background-color: transparent;
}

/* Winkelwagen */
div.row {
    width: 500px;
    height: 20px;
    
    float: left;
    line-height: 20px;
    
    border-bottom: 1px solid #D8D8D8;
}
p.small {
    width: 75px;
    height: 20px;
    
    float: left;
    margin: 0px;
    padding: 0px;
    display: block;
}
p.big {
    width: 200px;
    height: 20px;
    
    float: left;
    margin: 0px;
    padding: 0px;
    display: block;
}
input.aantal_w {
    width: 40px;
    height: 20px;
    
    border: none;
    background-color: transparent;
}